/* universal + shared */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

.btn-orange {
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 27px;
    border: none;
    border-radius: 5px;
}
.btn-orange:hover {
    cursor: pointer;
}

/* content */
header {
    background: url("images/banner/banner2.png");
    max-width: 1600px;
    height: 810px;
    display: flex;
    justify-content: right;
}
.header-content {
    text-align: right;
    position: absolute;
    margin: 216px 230px 0 0;
    width: 525px;
    height: 426px;
}
.header-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 24px;
}
.header-content p {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 30px 30px;
    max-width: 494px;
}

#failure {
    width: 68%;
    max-width: 1072px;
    display: flex;
    justify-content: space-between;
    margin: 130px auto;
}
.failure-image {
    width: 450px;
}
.failure-content {
    margin-top: 35px;
    width: 349px;
}
#failure h3 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 24px;
}
.failure-content-text {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
    color: #444343;
}
#failure p {
    font-size: 16px;
    line-height: 24px;
    color: #444343;
    margin-bottom: 8px;
}
#failure p i {
    color: #16D887;
}